@font-face {
  font-family: digital;
  src: url(../assets/fonts/digital-7.ttf);
}

.app,
.display,
.button_panel {
  width: 700px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

.display {
  font-family: digital, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(133, 134, 148);
  height: 100px;
  color: #fff;
  font-weight: bold;
  padding: 0 10px;
  font-size: 70px;
}

.button_panel {
  align-items: stretch;
}

.button_panel_row,
.button {
  height: 100px;
}

.button {
  background-color: rgb(245, 145, 62);
  color: rgb(16, 35, 62);
  width: 25%;
  font-weight: bold;
  border: 1px solid rgba(184, 184, 184, 0.5);
}

.button_double {
  width: 50%;
}

.button_gray {
  background-color: rgb(224, 224, 224);
}

.button:focus {
  transition: all 0.15s ease-in;
  animation: button-click 0.15s ease-in;
  outline: none !important;
}

@keyframes button-click {
  0%   {-moz-box-shadow:   none;
    -webkit-box-shadow:none;
    box-shadow:        none;}
  50% {  -moz-box-shadow:    inset 0 0 10px rgba(184, 184, 184, 0.8);
    -webkit-box-shadow: inset 0 0 10px rgba(184, 184, 184, 0.8);
    box-shadow:         inset 0 0 10px rgba(184, 184, 184, 0.8);
    border: 2px solid rgba(184, 184, 184, 0.5) !important;}
    100% {  -moz-box-shadow:    none;
      -webkit-box-shadow: none;
      box-shadow:         none;
      border: 1px solid rgba(184, 184, 184, 0.5);}
}
